<% provide(:title, "Update Profile") %>
<div class="row">
  <div class="col-xs-4 col-xs-offset-3" style="background: greenyellow;position: fixed;left:10%;">
    <%= image_tag("899762fd9fd17504.gif", alt: "Messpay",height: "76",width: "240") %>


    <p style='font-size:30px;font-weight:200;'>Change your password and picture</p>

    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :New_password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
<br>

    <div class="gravatar_edit">
      <%= gravatar_for @user,size:200%>
      <br>
      <br>
      <a href="http://gravatar.com/emails" target="_blank" class="btn btn-primary">Change Pic</a>
      <br>
      <br>
    </div>
  </div>
</div>