<% provide(:title, "Pay Bills") %>
<div class="row">
  <div class="col-xs-4 col-xs-offset-3" style="background: greenyellow;position: fixed;left:10%;">
    <%= image_tag("899762fd9fd17504.gif", alt: "Messpay",height: "76",width: "240") %>


    <p style='font-size:30px;font-weight:200;'>Change your password and picture</p>

    <%= form_for(@bill) do |f| %>
        <%= f.label :paid_amount %>
        <%= f.text_field :paid_amount, class: 'form-control' %>
        <%= f.label :is_paid %>
        <%= f.label :payment_mode %>
        <%= f.text_field :payment_mode, class: 'form-control',value:"OFFLINE" %>
        <%= f.check_box :is_paid,checked:true%>
        <%= f.submit "Pay Bill", class: "btn btn-primary" %>
    <% end %>
    <br>
  </div>
</div>