<% provide(:title, "Update Profile") %>
<div class="row">
  <div class="col-xs-4 col-xs-offset-3" style="background: greenyellow;position: fixed;left:10%;">
    <%= image_tag("899762fd9fd17504.gif", alt: "Messpay",height: "76",width: "240") %>


    <p style='font-size:30px;font-weight:200;'>Change your password and picture</p>

    <%= form_for(@bill) do |f| %>

        <%= f.label : %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    <br>
  </div>
