<% provide(:title, 'Mark your Leave') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3" style="background: beige">

    <p style='font-size:30px;font-weight:200;'> Mark your Leave</p>
<% if current_user.resident.hostel.hostel=='J'%>
        <p style="color:#989898;font-weight: 200;background: bisque;border-radius: 10px;text-align: center"> You are resident of Hostel J  and you can mark only 4 or 5 Leaves once a month</p>
        <%else%>
    Hostels
        <%end%>
    <%= form_for(@leave) do |f| %>
        <p class="Leave_lable">Start date</p>
        <%= f.text_field :start_date,class: 'form-control',placeholder:"Start Date"  %>
        <p class="Leave_lable">End date</p>
        <%= f.text_field :end_date,class: 'form-control',placeholder:"End Date" %>
        <p class="Leave_lable">Destination</p>
        <%= f.text_field :destination,placeholder:"Destination" ,class: 'form-control' %>

        <%= f.submit "Mark Leave", class: "btn btn-primary" %>
    <% end %>
<br>
    <p style="color:#989898;font-weight: 200;background: #ffcccc;text-align: center;border-radius: 10px" >Mark a valid leave. Mess management would be  checking your rooms daily !</p>
    <br>
  </div>
</div>