<div class="col-xs-4 col-xs-offset-3" style="background: greenyellow;position: fixed;left:10%;">

<%= form_tag(residents_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
    <%= submit_tag "Search" %>
<% end %>
  </div>

<% if @residents.present? %>
    <%= render @residents %>
<% else %>
    <p>There are no residents containing the term(s) <%= params[:search] %>.</p>
<% end %>