<div class="container-fluid">
<header class="site-top-border">
</header>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1 col-xs-offset-9">
            <a  class="menu_icon" onclick="openNav()">☰</a>
          </div>
        </div>
      </div>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <% if logged_in? %>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", '#' %></li>
            <%= link_to "Log out", logout_path, method: "delete" %>
        <% else %>
               <%= form_for(:session, url: login_path) do |f| %>

                     <%= f.label :email %>
                     <%= f.email_field :email, class: 'form-control' %>

                     <%= f.label :password %>
                     <%= f.password_field :password, class: 'form-control' %>
                <%= f.label :remember_me, class: "checkbox inline" do %>
                    <%= f.check_box :remember_me %>
                    <span>Remember me </span>
                <% end %>


                <%= f.submit "Log in", class: "btn btn-primary" %>
               <% end %>
               <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        <% end %>
       <ul>
         <li> <%=link_to "Contact",contact_path%></li>
         <li> <%=link_to "Developers",developers_path%></li>
         <li> <%=link_to "Help",help_path%></li>
         <li> <%=link_to "About",about_path%></li>
         </ul>
      </div>
      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        closeNav();
      </script>

    </div>

</div>
