<div class="row">
<div class="col-xs-2">

  <div id="user_menu">
      <%= image_tag("899762fd9fd17504.gif", alt: "Messpay",height: "38",width: "120") %>
    <br>
    <br>

    <p class="usser_menu1">

      <%= link_to("#") do %>
          <%= image_tag("account1.png", alt: "Account",height: "25",width: "25") %> Account
      <% end %>
    </p>
    <p class="user_menu1">
      <%= link_to(current_user) do %>
          <%= image_tag("paynow2.png", alt: "Pay now",height: "25",width: "25") %> Pay Bill
      <% end %>
    </p>
    <p class="user_menu1">
      <%= link_to(leaves_path) do %>
          <%= image_tag("leave.png", alt: "Leaves",height: "25",width: "25") %> Leaves
      <%end%>
    </p>
    <p class="user_menu1">
      <%= link_to("#") do %>
          <%= image_tag("history.png", alt: "History",height: "25",width: "25") %> History
      <%end%>
    </p>
    <p class="user_menu1">
      <%= link_to("#") do %>
          <%= image_tag("fine.png", alt: "Fine",height: "25",width: "25") %> Fine
      <%end%>
    </p>
    <p class="user_menu1">
      <%= link_to("#") do %>
          <%= image_tag("Food.png", alt: "Food",height: "25",width: "25") %> Mess Menu
      <%end%>
    </p>
    </p>
    <p class="user_menu1">
      <%= link_to("#") do %>
          <%= image_tag("manager.png", alt: "Food",height: "25",width: "25") %> Contact Mess
      <%end%>
    </p>
    <p class="user_menu1">
      <%= link_to("#") do %>
          <%= image_tag("weed3.png", alt: ":)",height: "25",width: "25") %> Contact Messpay
      <%end%>
    </p>
    <p class="user_menu1">
      <%= link_to("#") do %>
          <%= image_tag("suggestions.png", alt: ":)",height: "25",width: "25") %> Suggestions
      <%end%>
    </p>
  </div>



</div>
  </div>
<p id="bottom_quate"style="">Many in world  sleep Without Food Please Don't waste it.<%=link_to "(Donate)",'http://www.wfp.org/' %></p>