<div class="row">
  <div class="col-sm-7 col-sm-offset-3">

    <div class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading"><%= gravatar_for @user,size:40%>
        User Details
      </div>
      <div class="panel-body">      </div>

      <table class="table table-striped table-bordered">
          <thead>
           <tr>
             <th>Info</th>
             <th>Details</th>
           </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Name</th>
            <td><%= current_user.resident.name%></td>
          </tr>
          <tr>
            <th scope="row">Room number</th>
            <td><%= current_user.resident.room_number%></td>
          </tr>
          <tr>
            <th scope="row">Roll number</th>
            <td><%= current_user.resident.roll_number%></td>
          </tr>
          <tr>
            <th scope="row">Hostel</th>
            <td><%= current_user.resident.hostel%></td>
          </tr>
          </tbody>
        </table>
    </div>

  </div>
    <div class="panel panel-info">
      <div class="panel-heading">Billing Details</div>
      <div class="panel-body"></div>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Info</th>
          <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Fine</th>
          <td> &#8377; <%= current_user.resident.account.fine%></td>
        </tr>
        <tr>
          <th scope="row">Total Leaves (current month)</th>
          <td><%= current_user.resident.account.leaves%></td>
        </tr>
        <tr>
          <th scope="row">Last Month Adjustments</th>
          <td> &#8377; <%= current_user.resident.account.last_month_adjustment%></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="btn-group  btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-info">Hostel <%= current_user.resident.hostel%> Rate Card</button>
      <button type="button" class="btn btn-info">Any Problem? Contact us</button>
      <button type="button" class="btn btn-info">Foodies Blog</button>
    </div>
</div>

  </div>
  </div>